<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349334704096-erv3huccac4qprss3t392m6kqevu18v9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349334704096-erv3huccac4qprss3t392m6kqevu18v9</string>
	<key>API_KEY</key>
	<string>AIzaSyDipZXx5KRsBfuWZIlIx069zfdoQyoUxRI</string>
	<key>GCM_SENDER_ID</key>
	<string>349334704096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mohsen.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-df62b</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-df62b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349334704096:ios:4cb6a39573cb29d6</string>
	<key>DATABASE_URL</key>
	<string>https://artable-df62b.firebaseio.com</string>
</dict>
</plist>